.App-logo {
  height: 80px;
}

.App-title {
  font-size: 1.5em;
  font-family: "abril fatface";
}

.App-intro {
  font-size: large;
}

.center-text {
  text-align: center;
}

/* Home Page */
.home {
  margin: 20px;
}

main {
  margin-top: 100px;
}

ul li {
  display: inline-block;
}

/* Product Detail */
.left-section {
  width: 33%;
  float: left;
}

.left-section img {
  display: block;
  margin: 0px auto;
}

.right-section {
  width: 65%;
  float: right;
  margin-bottom: 20px;
}

.bottom-section {
  clear: both;
  margin-top: 10px;
  border-top: 1px solid black;
}
