/* product list */
.product-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.product-list-item {
  padding: 1px;
  flex: 1 1 16%;
  align-items: center;
  margin: 5px;
  text-align: center;
  border: 1px solid #383163;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
}

.product-list-item:hover {
  background-color: #efeef5;
}

.price {
  color: red;
  font-weight: 700;
}

.product-list-item a {
  text-decoration: none;
  color: black;
}

.product-list-item img {
  display: block;
  padding-top: 5px;
  margin: 0px auto;
}

.no-image {
  min-height: 320px;
  width: 100%;
}
